.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30em;
  .background {
    width: 100%;
    opacity: 0.2;
    position: absolute;
    mask-image: linear-gradient(transparent, black, transparent);
    left: 0;
    z-index: -10;
  }
  & > img {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -9;
  }
}
