.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(2, 2, 2, 0.85);
  height: 5em;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 1000;
  .logo {
    width: 16rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  .list {
    display: flex;
    list-style-type: none;
    .Itemlist {
      padding: 0 1em;
      display: list-item;
      cursor: pointer;
      color: #fff;
      &:hover {
        transition: color 0.1s linear;
        color: #eaa053;
      }
      &:active {
        border-bottom: 2px solid #eaa053;
        transition: none !important;
      }
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-left: 3rem;
    .signin {
      width: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
      .text {
        padding: 5px;
        font-size: 17px;
      }
      .img {
        width: 40px;
      }
      &:hover {
        color: #eaa053;
      }
    }
    .download {
      background-color: #eaa053;
      color: black;
      height: 100%;
      width: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 27px;
      cursor: pointer;
      &:hover {
        background-color: rgb(240, 148, 51);
      }
    }
  }
}
.empty {
  width: 100%;
  height: 5em;
  background-color: #020202;
}
