.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 21em;
  .background {
    position: absolute;
    width: 100%;
    left: 0;
    mask-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4),
      transparent
    );
    z-index: -10;
  }
  .skillBorder {
    mask-image: none;
  }
  .left {
    width: 40%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    transform: translateY(5.9rem);
    .Char {
      max-width: 19.5rem;
      max-height: 29.7rem;
    }
    .decor {
      width: 55%;
    }
  }
  .right {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .top {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 35px;
      .item {
        width: 80px;
        height: 80px;
        border: 1px solid white;
        transition: transform 0.1s linear;
        cursor: pointer;
        &:hover {
          transform: scale(120%);
        }
        & > img {
          width: 80px;
          height: 80px;
        }
      }
    }
    .bottom {
      width: 682px;
      height: 440px;
      background: rgba(255, 255, 255, 0.3);
      text-align: center;
      transform: translate(-8px, 82px);
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: translate(20px, 60px);
      }
      .list {
        list-style: none;
        text-align: left;
        padding: 30px;
        line-height: 5;
        .list_items {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          gap: 24px;
          .marker {
            width: 40px;
          }
          & > span {
            font-size: 18px;
            font-weight: 600;
            color: white;
          }
        }
      }
    }
  }
}
