.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% !important;
  height: 100%;
  .img {
    position: absolute;
    width: 100% !important;
    opacity: 0.8;
    z-index: -10;
    -webkit-mask-size: automatic;
    -webkit-mask-image: -webkit-gradient(
      linear,
      center top,
      center bottom,
      color-stop(1, rgba(0, 0, 0, 0)),
      color-stop(0, rgba(0, 0, 0, 1))
    );
  }
  .LogoContainer {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      width: 55em;
    }
  }

  & > p {
    font-size: 35px;
  }

  .downloads {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .downloadBtn {
      color: black;
      background-image: url(../../../img/Button1.png);
      background-repeat: no-repeat;
      width: 400px;
      height: 90px;
      text-align: center;
      & > p {
        font-size: 26px;
      }
    }
  }
  .BottomBtn {
    background: transparent;
    outline: none;
    border: none;
    margin-top: 3em;
    cursor: pointer;
    & > img {
      width: 25px;
    }
  }
}
