@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@font-face {
  font-family: "UTM Aircona";
  src: local("UTM Aircona"), url(./fonts/UTM_Aircona.ttf) format("truetype");
}

@font-face {
  font-family: "cour";
  src: local("cour"), url(./fonts/cour.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  color: white;
  margin: 0;
  font-size: 18px;
  font-family: "UTM Aircona", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  line-height: 1.3rem;
}

span {
  font-family: "cour", sans-serif;
  z-index: 100;
}

a {
  font-family: "cour", sans-serif;
  z-index: 100;
  color: white;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(8, 8, 8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eaa053;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eaa053;
}
